body{
    background-image:  linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/bg1.jpg") ;
    background-size: cover;
    font-family: Raleway;
}

#promo{
    background-color:white;
    border:1px solid #ccc;
    font-family: 'Cutive Mono', monospace;
    font-weight:600;
}
